{% extends "base.html" %}
{% block title %}hi{% endblock %}

{% block content %}
<div class="data-src" hidden>{{data}}</div>
<img src="/static/images/banner.jpg" style="height:100vh;width:100%;opacity: 0.5;object-fit: cover;position: absolute;">
        <div style="height:100vh" class="w-100 d-flex align-items-center justify-content-center">
            <div class="card px-2" style="height:80%;width:90%;">
                <table class="datatable table table-striped h-100">
                    <thead><tr>
                        {% for colname in data["headings"] %}
                        <th>{{colname}}</th>
                        {% endfor %}
                    </tr></thead>
                </table>
            </div>
            
        </div>
<script>
    
    $(document).ready(function(){
        var plist={{ data | tojson }};
        table = $(".datatable").DataTable({
            columns: [
                { data: 'id' },
                { data: 'name' },
                { data: 'gender' },
                { data: 'school' },
                { data: 'email' },
                { data: 'IG' },
                { data: 'arrive' },
                { data: 'present' },
                { data: 'arrival_time' }
                
            ],
            data: plist["data"]
        })
        // $(".datatable>tbody>tr").map(function(val,idx){
        //     $(this).addClass("plist").children().eq(0).wrap(`<a href='/pqrcode/${$(this).children().eq(0).text()}' class='d-block'></a>`).parent().addClass("wrapped")
        // })
        
    });
    // $(".dt-paging-button").click(function(){
    //     $(".datatable>tbody>tr").map(function(val,idx){
    //         console.log($(this).children().eq(0).hasClass("wrapped"))
    //         if(!($(this).children().eq(0).hasClass("wrapped"))){
    //             $(this).addClass("plist").children().eq(0).wrap(`<a href='/pqrcode/${$(this).children().eq(0).text()}' class='d-block'></a>`).parent().addClass("wrapped")
    //         }
    //     })
    // })
    </script>
{% endblock %}